body.csbody {
  background-color:#ffffff;
  color:#666666;
}
body.csbody .bg_primary { background-color:#69bd43; }
body.csbody .primary_color { color:#69bd43; }
body.csbody .header-v1 #header-top ul.cs-social li a:hover, body.csbody .header-shop #header-top ul.cs-social li a:hover { background-color:#3f7228; }
body.csbody .menubar .menu-list > ul > li.current-menu-item > a, body.csbody .menubar .menu-list > ul > li.current_page_item > a, body.csbody .menubar .menu-list > .menu-list-right > ul > li.current-menu-item > a, body.csbody .menubar .menu-list > .menu-list-right > ul > li.current_page_item > a { background-color:#69bd43; }
body.csbody .menubar .menu-list > ul > li:hover > a, body.csbody .menubar .menu-list > .menu-list-right > ul > li:hover > a { background-color:#69bd43; }
body.csbody .widget_price_filter .ui-slider .ui-slider-range {
  background-color:#69bd43;
  background-image:none;
  border-color:#3f7228;
}
body.csbody .widget_price_filter .ui-slider .ui-slider-handle, body.csbody .widget_price_filter .ui-slider .ui-slider-handle {
  background-color:#69bd43;
  background-image:none;
  border-color:#3f7228;
}
body.csbody #primary-sidebar .wg-title span, body.csbody .blog-title span { border-bottom:1px solid #69bd43; }
body.csbody a { color:#69bd43; }
body.csbody a :hover, body.csbody a :focus { color:#3f7228; }
body.csbody a.wpb_button {
  background:#fff;
  text-shadow:none;
}
body.csbody a.wpb_button.wpb_btn-primary {
  color:#fff;
  background-color:#69bd43;
}
body.csbody a.wpb_button.wpb_btn-primary :hover, body.csbody a.wpb_button.wpb_btn-primary :focus {
  background-color:#3f7228;
  color:#FFF;
}
body.csbody a.wpb_button.wpb_btn-large {
  border-radius:2px;
  font-size:15px;
  line-height:normal;
  padding:9px 14px;
}
body.csbody .section-primary-bg { background-color:#69bd43; }
body.csbody h1, body.csbody h2, body.csbody h3, body.csbody h4, body.csbody h5, body.csbody h6 { color:#666666; }
body.csbody .cs-carousel-tesimonial i.fa-user { background-color:#69bd43; }
body.csbody .header-v1 #header-top { background-color:#69bd43; }
body.csbody .header-shop #header-top { background-color:#69bd43; }
body.csbody .tp-caption.big_organic_white_color { background-color:#69bd43; }
body.csbody .tp-caption.big_organic_primary_transparent { color:#69bd43; }
body.csbody .box-feature-figure .figcaption { background-color:#69bd43; }
body.csbody .headline.underline:after { background-color:#69bd43; }
body.csbody .wpb_accordion_header a:after { color:#69bd43; }
body.csbody .slider-blog .ns2-date-blog { background-color:#69bd43; }
body.csbody .slider-blog a.ns2-readmore span { background-color:#69bd43; }
body.csbody .feature-delivery .feature-delivery-title { background-color:#69bd43; }
body.csbody .vc_progress_bar .vc_single_bar .vc_bar { background-color:#69bd43; }
body.csbody .vc_progress_bar.wpb_content_element .vc_label .vc_label_units { background-color:#69bd43; }
body.csbody .btn_primary { background-color:#69bd43; }
body.csbody .controls-filter li a.active, body.csbody .controls-filter li a:hover {
  border:1px solid #69bd43;
  color:#3f7228;
}
body.csbody .block.center h3.block-title:after { background-color:#69bd43; }
body.csbody .de-blog .blog-info a:hover { color:#69bd43; }
body.csbody .plan li a {
  color:#666666;
  border:1px solid #666666;
}
body.csbody .plan li a:hover { color:#666666; }
body.csbody .plan.featured .plan-name { background-color:#69bd43; }
body.csbody .plan.featured a {
  color:#69bd43;
  border-color:#69bd43;
}
body.csbody .plan:hover .plan-name { background-color:#69bd43; }
body.csbody .plan:hover a {
  color:#69bd43;
  border-color:#69bd43;
}
body.csbody .wpb_tabs ul.wpb_tabs_nav li { border:1px solid #eee; }
body.csbody .wpb_tabs ul.wpb_tabs_nav li.ui-tabs-active {
  background-color:#69bd43;
  border:1px solid #69bd43;
}
body.csbody .wpb_tabs ul.wpb_tabs_nav li a {
  color:#666666;
  padding:10px 15px;
  border:1px solid #69bd43;
}
body.csbody .wpb_tabs ul.wpb_tabs_nav li:hover { background-color:#69bd43; }
body.csbody .pie-graph .percent_loader { background-color:#69bd43; }
body.csbody .services-box.services-box-animated .inner .back:hover {
  background-color:#69bd43;
  border-color:#69bd43;
}
body.csbody .wpb_button.wpb_btn-primary { background-color:#69bd43; }
body.csbody .wpb_button.wpb_btn-primary:hover, body.csbody .wpb_button.wpb_btn-primary:focus { background-color:#3f7228; }
body.csbody .dexp-shortcodes-box .box-icon, body.csbody .dexp-shortcodes-box .box-text, body.csbody .dexp-shortcodes-box .box-image { color:#69bd43; }
body.csbody .dexp-shortcodes-box.box-background .box-icon, body.csbody .dexp-shortcodes-box.box-background .box-text, body.csbody .dexp-shortcodes-box.box-background .box-image {
  background-color:#69bd43;
  border:1px solid #69bd43;
  color:#fff;
}
body.csbody .dexp-shortcodes-box.box-background:hover .box-icon, body.csbody .dexp-shortcodes-box.box-background:hover .box-text, body.csbody .dexp-shortcodes-box.box-background:hover .box-image {
  color:#69bd43;
  background-color:#fff;
}
body.csbody .dexp-shortcodes-box.box-background:hover .box-icon span, body.csbody .dexp-shortcodes-box.box-background:hover .box-text span, body.csbody .dexp-shortcodes-box.box-background:hover .box-image span { color:#69bd43; }
body.csbody .dexp-shortcodes-box.box-border .box-icon, body.csbody .dexp-shortcodes-box.box-border .box-text, body.csbody .dexp-shortcodes-box.box-border .box-image { border:1px solid #69bd43; }
body.csbody .ww-portfolio .ww-portfolio-item:hover .ww-portfolio-details { background-color:rgba(105,189,67,0.5); }
body.csbody .ww-portfolio .ww-portfolio-item a.ww-read-more { color:#69bd43; }
body.csbody .team .team-top .team-item-info .social-icons-wrap .social-icons li:hover a i { color:#69bd43; }
body.csbody .team .team-top:hover .team-item-info { background-color:rgba(105,189,67,0.5); }
body.csbody .bx-pager .bx-pager-item a.active { background-color:#69bd43; }
body.csbody .button.wc-forward, body.csbody .price_slider_amount .button { background-color:#69bd43; }
body.csbody .products .product-category h3, body.csbody .products .product h3 { background-color:#69bd43; }
body.csbody .ww-carousel-item-wrap .product .woo-image .add_to_cart_button.added:before, body.csbody .ww-carousel-item-wrap .product .woo-image .add_to_cart_button:before, body.csbody .archive-products .woo-image .add_to_cart_button.added:before, body.csbody .archive-products .woo-image .add_to_cart_button:before { color:#69bd43; }
body.csbody .ww-carousel-item-wrap .product .woo-decriptions, body.csbody .archive-products .product .woo-decriptions { background-color:#69bd43; }
body.csbody .product .summary .product_title:after { background-color:#69bd43; }
body.csbody .product .summary .price .amount { background-color:#69bd43; }
body.csbody button.button.alt.single_add_to_cart_button { background-color:#69bd43; }
body.csbody button.button.alt.single_add_to_cart_button { background-color:#69bd43; }
body.csbody .widget_calendar #wp-calendar tbody td:hover { background-color:#69bd43; }
body.csbody .woo-share ul li a:hover, body.csbody .woo-share ul li a i:hover { color:#69bd43; }
body.csbody ul.arrow li:before, body.csbody ul.arrow-double li:before, body.csbody ul.arrow-double li:after, body.csbody ul.arrow li:after, body.csbody ul.tick li:before, body.csbody ul.tick li:after, body.csbody ul.tick-circle li:before, body.csbody ul.tick-circle li:after, body.csbody ul.cross li:before, body.csbody ul.cross li:after, body.csbody ul.star li:before, body.csbody ul.star li:after, body.csbody ul.rss li:before, body.csbody ul.rss li:after { color:#69bd43; }
body.csbody .wpcf7-form .btn.btn-primary, body.csbody .wpcf7-form .btn.btn-trans { background-color:#69bd43; }
body.csbody .widget_search .searchform #s:hover, body.csbody .widget_search .searchform #s:focus { border:1px solid #69bd43; }
body.csbody #main .cs-social li a:hover { background-color:#69bd43; }
body.csbody #main .cs-social li a:hover i { color:#FFF; }
body.csbody #main .cs-social li a i { color:#69bd43; }
body.csbody .team .social-icons .list-inline a:focus i, body.csbody .team .social-icons .list-inline a:hover i { color:#69bd43; }
body.csbody .categories_filter li.active a, body.csbody .categories_filter li a:hover, body.csbody .controls-filter li.active a, body.csbody .controls-filter li a:hover {
  border:1px solid #69bd43 !important;
  color:#69bd43;
}
body.csbody input[type="text"]:hover, body.csbody input[type="text"]:focus, body.csbody input[type="password"]:hover, body.csbody input[type="password"]:focus, body.csbody input[type="email"]:hover, body.csbody input[type="email"]:focus, body.csbody textarea:hover, body.csbody textarea:focus, body.csbody select:hover, body.csbody select:focus { border:1px solid #69bd43; }
body.csbody .woocommerce form .button { background-color:#69bd43; }
body.csbody .archive.de-blog, body.csbody .blog.post .de-blog { border-bottom:1px solid #69bd43; }
