/*
Theme Name: Organic Food 
Theme URI: http://cmssuperheroes.com/wordpress/organicfood
Author: Cmssuperheroes Team
Author URI: http://cmssuperheroes.com/
Version: 1.1
Template:     organicfood
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Description: In 2014, Creating a magazine website with WordPress has never been easier.
Text Domain: organicfood
*/
/*Gennerator*/
/*body*/
/*Start Header*/
/* End Header */
/* Start Comment */
/* End Comment */
/* End Short Code */
/*Start Title Bar*/
/*End Title Bar*/
/* Start Footer */
/*End Gennerator*/
/*Section feature*/
/*End Section feature*/
/*Title block*/
/*Fotter Carousel*/
/*End Fotter Carousel*/
/*Carousel bottom*/
/*End Carousel bottom*/
/*Carousel */
/*End Carousel */
/*Start Accordion*/
/*End Accordion*/
/*Start widget search*/
/*End widget search*/
/*Plan*/
/*End Plan*/
/*team section-delivery*/
/*End section-delivery*/
/*404 page*/
/*End 404 page*/
/*Pie Graph*/
/*End Pie Graph*/
/*Service box*/
/*End Service box*/
/*Stats*/
/*End Stats*/
/*Buttons*/
/*End Buttons*/
/*Featured Boxes*/
/*End Featured Boxes*/
/*End Tab style 2*/
/*End Tab*/
/*Portfolio */
/*End Portfolio*/
/*Team*/
/*End Team*/
/*Testimonial Avatar*/
/*End Testimonial Avatar*/
/*Video*/
/*End Video*/
/*secction-shop-fresh*/
/*End secction-shop-fresh*/
/*Contact Form 7*/
/*End Contact Form 7*/
/*Dropcap*/
/*End Dropcap*/
/*Ul*/
/*End Ul*/
/*Block text*/
/*End Block text*/
/*Social*/
/*End Social*/
/*Article Sticky*/
/*End Article Sticky*/
/*Widget title*/
/*Carousel*/
/*End Carousel*/
p + p { margin-top:15px; }
p, hr, dl, blockquote, pre, address, fieldset, figure { margin:0; }
h1 {
  font-size:26px;
  line-height:1.38462;
}
h2 {
  font-size:24px;
  line-height:1;
}
h3 {
  font-size:22px;
  line-height:1.09091;
}
h4 {
  font-size:20px;
  line-height:1.2;
}
h5 {
  font-size:18px;
  line-height:1.33333;
}
h6 {
  font-size:16px;
  line-height:1.5;
}
ul, ol {
  list-style:none;
  margin:0 0 24px 20px;
}
ul { list-style:disc outside none; }
.primary-sidebar ul, .primary-sidebar ol { list-style:none; }
.primary-sidebar > div { margin-bottom:20px; }
ol { list-style:decimal outside none; }
.widget ul, .widget ol {
  list-style:none outside none;
  margin:0;
}
.widget li > ol, .widget li > ul { margin-left:10px; }
table, th, td { border:1px solid rgba(0,0,0,0.1); }
table {
  border-collapse:separate;
  border-spacing:0;
  border-width:1px 0 0 1px;
  margin-bottom:24px;
  width:100%;
}
caption, th, td {
  font-weight:normal;
  text-align:left;
}
th {
  border-width:0 1px 1px 0;
  font-weight:bold;
}
td { border-width:0 1px 1px 0; }
address {
  font-style:italic;
  margin-bottom:24px;
}
big { font-size:125%; }
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.full-width .site-content .alignleft { clear:left; }
.full-width .site-content .alignright { clear:right; }
footer { clear:both; }
caption, th, td {
  font-weight:normal;
  text-align:left;
}
th {
  border-width:0 1px 1px 0;
  font-weight:bold;
}
td { border-width:0 1px 1px 0; }
address {
  font-style:italic;
  margin-bottom:24px;
}
big { font-size:125%; }
code, kbd, tt, var, samp, pre {
  -moz-hyphens:none;
  font-family:monospace, serif;
  line-height:1.6;
}
cite, dfn, em, i { font-style:italic; }
#searchform #searchsubmit { display:none; }
.time-new-roman { font-family:"times new roman"; }
h3.headline, h3.wg-title, h3.feature-delivery-title, h4.ns2-title, .wpb_accordion_header a, h2.blog-title, h2.page-title, .box-white.style2 h4, h3.block-title, h3.box-title, .team-name h3, .pie-graph h3, .services-box h3 { font-family:lato-light; }
h1, h2, h3, h4, h5, h6 { font-family:lato-light; }
h3.uk-panel-title {
  font-family:open sans;
  color:#666;
  font-weight:600;
}
.lato-light { font-family:lato-light; }
.uppercase { text-transform:uppercase; }
body ul ul { margin-top:0; }
body h3 { font-size:24px; }
body { line-height:28px; }
.container .container { width:100%; }
.ww-container {
  max-width:1170px;
  margin:0 auto;
  padding:0 15px;
}
.ww-container .ww-container { padding:0; }
footer { clear:both; }
body.boxed #wrapper {
  background:none repeat scroll 0 0 #ffffff;
  box-shadow:0 0 10px 0 rgba(0,0,0,0.2);
  margin:0 auto;
  max-width:1170px;
}
.vc_carousel-inner .vc_item .vc_inner img, .vc_carousel .vc_inner .post-thumb img, .vc_carousel-slideline .vc_item .vc_inner img { width:100% !important; }
.vc_images_carousel { width:100% !important; }
body .wpb_gmaps_widget .wpb_wrapper { padding:0; }
.attachment-full { width:100%; }
.no-container { overflow:hidden; }
.no-container > div[class*="12"] { padding:0; }
.wpb_button.btn-lg {
  border-radius:5px;
  font-size:16px;
  line-height:normal;
  padding:9px 14px;
}
h3.box-title {
  font-size:18px;
  font-weight:600;
}
.float_right { float:right; }
.float_left { float:left; }
.wpb_button {
  -moz-border-bottom-colors:none;
  -moz-border-left-colors:none;
  -moz-border-right-colors:none;
  -moz-border-top-colors:none;
  border-image:none;
  border-radius:2px;
  color:#333333;
  cursor:pointer;
  display:inline-block;
  font-size:13px;
  line-height:18px;
  margin-bottom:0;
  margin-top:0;
  padding:4px 10px;
  text-align:center;
  text-shadow:0 1px 1px rgba(255,255,255,0.75);
  vertical-align:middle;
}
body.csbody {
  background:#ffffff;
  background-position:center center;
  background-size:100% auto;
  background-repeat:repeat;
  font-size:14px;
  color:#666666;
}
body.csbody a:hover { text-decoration:none; }
#cshero-header {
  background-color:#ffffff;
  width:100%;
  position:fixed;
  top:0px;
}
.admin-bar #cshero-header { top:32px; }
body #cshero-header {
  background-color:#ffffff;
  position:static;
}
body .header #header-top ul.social {
  margin:-5px 0;
  padding:0;
}
body .header #menu-menu-top a { color:#FFF; }
body .header #header-top .cs-social li + li { margin-left:0; }
body .header #header-top ul.menu li {
  border-left:1px solid #fff;
  line-height:12px;
}
body .header #header-top ul li {
  display:inline-block;
  margin:0;
  padding:0 5px;
}
body .header #header-top ul li:first-child {
  border:medium none;
  padding-left:0;
}
body .header .menubar-brand {
  padding:0px;
  margin:0px;
}
body .header #header-top {
  color:#fff;
  background-color:#ffffff;
  font-size:12px;
  width:100%;
}
body .header.header-shop .header-top { color:#FFF; }
body .header.header-shop .header-top > div {
  display:inline-block;
  vertical-align:middle;
  float:none;
}
body .header.header-shop .header-top a { color:#FFF; }
body .header.header-shop .header-top a:hover { text-decoration:none; }
body .header.header-shop .header-top .header-top-1 > div {
  display:inline-block;
  vertical-align:middle;
}
body .header.header-shop .header-top ul.cs-social li a {
  display:block;
  font-size:16px;
  padding:5px 8px;
}
body .header.header-shop .header-top ul.cs-social li a:hover {
  background-color:#549835;
  color:#fff;
  transform:scale(1.1);
}
body .header.header-v1 .header-top > div {
  display:inline-block;
  vertical-align:middle;
  float:none;
}
body .header.header-v1 .header-top ul.cs-social li a {
  display:block;
  font-size:16px;
  padding:5px 8px;
}
body .header.header-v1 .header-top ul.cs-social li a:hover {
  background-color:#549835;
  color:#fff;
  transform:scale(1.1);
}
body .header.header-v1 .header-top ul.cs-social li a *:hover { color:#FFF; }
body .header.header-v2 .menubar-fixed-top { padding:10px 0; }
body .header.header-v2 #header-top {
  border-bottom:1px solid #f1f1f1;
  font-size:20px;
  font-family:'lato-light';
}
body .header.header-v2 #header-top .header-top { padding:25px 0; }
body .header.header-v2 #header-top .header-top > div {
  display:inline-block;
  vertical-align:middle;
  float:none;
}
body .header.header-v2 #header-top .content { color:#666666; }
body .header.header-v2 #header-top .logo a.menubar-brand { padding:0; }
body .header.header-v2 #header-top .widget_cs_social_widget {
  display:inline-block;
  vertical-align:middle;
}
body .header.header-v2 #header-top .widget_search {
  display:inline-block;
  vertical-align:middle;
  width:20px;
}
body .header.header-v2 #header-top .widget_search .searchform {
  position:relative;
  display:inline-block;
}
body .header.header-v2 #header-top .widget_search .searchform input#searchsubmit { display:none; }
body .header.header-v2 #header-top .widget_search .searchform input#s {
  display:none;
  width:200px;
  height:35px;
  max-width:200px;
  position:absolute;
  right:-14px;
  top:25px;
  border-radius:3px;
  transition:1s all ease;
}
body .header.header-v2 #header-top .widget_search .searchform input#s.active { display:block; }
body .header.header-v2 #header-top .widget_search .searchform:after {
  color:#999;
  content:"?";
  font-family:FontAwesome;
  font-size:14px;
  position:absolute;
  cursor:pointer;
  top:0;
}
body .header.header-v2 #header-top .widget_search .searchform:before {
  color:#999;
  content:"|";
  font-family:FontAwesome;
  font-size:14px;
  position:absolute;
  cursor:pointer;
  top:0;
}
body .header.header-v2 #header-top ul.cs-social li a {
  font-size:16px;
  padding:5px 5px;
  width:30px;
  height:30px;
  text-align:center;
  margin-top:0px;
  border:1px solid transparent;
  transition:all 200ms ease 0s;
  border-radius:5px;
}
body .header.header-v2 #header-top ul.cs-social li a i { color:#666666; }
body .header.header-v2 #header-top ul.cs-social li a:hover { border-color:#999; }
body .header.header-v3 .menubar-fixed-top { padding:10px 0; }
body .header.header-v3 .header-top { padding:25px 0; }
body .header.header-v3 .header-top > div {
  display:inline-block;
  vertical-align:middle;
  float:none;
}
body .header.header-v3 .widget2_wrap { text-align:right; }
body .header.header-v3 .widget2_wrap .widget_search {
  display:inline-block;
  vertical-align:middle;
  width:100%;
}
body .header.header-v3 .widget2_wrap .widget_search .searchform {
  position:relative;
  display:inline-block;
  margin-bottom:0;
}
body .header.header-v3 .widget2_wrap .widget_search .searchform input#searchsubmit { display:none; }
body .header.header-v3 .widget2_wrap .widget_search .searchform input#s {
  width:0px;
  height:35px;
  max-width:200px;
  border-radius:3px;
  transition:1s all ease;
  opacity:0;
  z-index:1;
}
body .header.header-v3 .widget2_wrap .widget_search .searchform input#s.active {
  width:200px;
  opacity:1;
}
body .header.header-v3 .widget2_wrap .widget_search .searchform:before {
  color:#999;
  content:"?";
  font-family:FontAwesome;
  font-size:14px;
  position:absolute;
  cursor:pointer;
  right:10px;
  z-index:2;
}
body .header.header-v3 #header-top {
  border-bottom:1px solid #f1f1f1;
  font-size:20px;
  font-family:'lato-light';
}
body .header.header-v3 #header-top .content { color:#666666; }
body .header.header-v3 #header-top .logo a.menubar-brand { padding:0; }
body .header.header-v3 #header-top .widget_cs_social_widget {
  display:inline-block;
  vertical-align:middle;
}
body .header.header-v3 #header-top ul.cs-social li a {
  font-size:16px;
  padding:5px 5px;
  width:30px;
  height:30px;
  text-align:center;
  margin-top:0px;
  border:1px solid transparent;
  transition:all 200ms ease 0s;
  border-radius:5px;
}
body .header.header-v3 #header-top ul.cs-social li a i { color:#666666; }
body .header.header-v3 #header-top ul.cs-social li a:hover { border-color:#999; }
#comments .comment-list .comment-meta a, .cs-navigation .page-numbers { color:#666666; }
.widget_calendar #wp-calendar tbody td:hover { background:#69bd43; }
.widget_calendar #wp-calendar td.pad {
  background:transparent;
  opacity:0;
  display:none;
}
body.csbody .header-site-wrap {
  background-color:#f2f2f2;
  background-position:top left;
  background-size:auto auto;
  background-repeat:repeat;
  color:#666666;
  padding:40px 0;
  margin:0 0 20px 0;
}
body.csbody .header-site-wrap h1, body.csbody .header-site-wrap h2, body.csbody .header-site-wrap h3, body.csbody .header-site-wrap h4, body.csbody .header-site-wrap h5, body.csbody .header-site-wrap h6 { color:#666666; }
body.csbody .header-site-wrap a { color:#69bd43; }
body.csbody .header-site-wrap a:hover { color:#3f7228; }
#footer-top {
  background-color:#adadad;
  background-position:center center;
  background-size:auto;
  background-repeat:repeat;
  color:#999999;
  padding:35px 0px;
  margin:0px;
}
#footer-top h1, #footer-top h2, #footer-top h3, #footer-top h4, #footer-top h5, #footer-top h6 { color:#666666; }
#footer-top a { color:#999999; }
#footer-top a:hover { color:#fff; }
#footer-top .footer-top > div {
  display:inline-block;
  float:none;
  vertical-align:top;
  padding:10px;
}
#footer-bottom {
  background-color:#353535;
  padding:35px 0;
  margin:0;
  color:#999999;
}
#footer-bottom h1, #footer-bottom h2, #footer-bottom h3, #footer-bottom h4, #footer-bottom h5, #footer-bottom h6 { color:#666666; }
#footer-bottom a { color:#999999; }
#footer-bottom a:hover { color:#fff; }
.box-feature-figure { position:relative; }
.box-feature-figure .figure {
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
  opacity:1;
  border:1px solid #f1f1f1;
  border-radius:4px;
  background:#FFF;
  padding:20px;
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
}
.box-feature-figure .figure img { width:auto; }
.box-feature-figure .figcaption {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0;
  -webkit-transform:scale(0.3);
  -moz-transform:scale(0.3);
  -ms-transform:scale(0.3);
  -o-transform:scale(0.3);
  transform:scale(0.3);
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
  border-radius:5px;
}
.box-feature-figure:hover .figure {
  -webkit-transform:scale(0.3);
  -moz-transform:scale(0.3);
  -ms-transform:scale(0.3);
  -o-transform:scale(0.3);
  transform:scale(0.3);
  opacity:0;
}
.box-feature-figure:hover .figcaption {
  opacity:1;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
  color:#FFF;
}
.box-feature-figure:hover .figcaption h3 {
  color:#fff;
  margin-top:0;
  font-weight:300;
}
h3.headline {
  font-size:24px;
  font-weight:300;
  line-height:normal;
  margin:10px 0;
  padding:20px 0;
}
h3.headline.underline:after {
  content:"";
  display:block;
  height:1px;
  position:relative;
  top:12px;
  width:50px;
}
h3.headline.underline.text-left:after { margin:0; }
h3.headline.underline.text-center:after { margin:auto; }
h3.headline.underline.text-right:after {
  margin:auto 100%;
  transform:translateX(-100%);
}
#footer-top ul.cs-social li a {
  border:1px solid #999;
  border-radius:5px;
  font-size:14px;
  line-height:30px;
  padding:6px 14px;
  text-align:center;
  transition:all 200ms ease 0s;
}
#footer-top ul.cs-social li a i { color:#999999; }
.cs-carousel-tesimonial .fa-user {
  border-radius:5px;
  color:#fff;
  margin-right:5px;
  padding:8px 10px;
}
.ww-nav .fa {
  background:none repeat scroll 0 0 #6c6c6c;
  border:medium;
  border-radius:5px;
  color:#fff;
  font-size:20px;
  height:30px;
  line-height:28px;
  text-align:center;
  width:30px;
  cursor:pointer;
}
.wpb_accordion .wpb_accordion_wrapper .ui-icon { display:none; }
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
  background:none repeat scroll 0 0 rgba(0,0,0,0);
  border:1px solid #ddd;
  border-radius:5px;
  padding:0;
  color:#333;
  overflow:hidden;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
  background:none repeat scroll 0 0 #fff;
  color:#555;
  display:block;
  padding:14px !important;
  position:relative;
  text-decoration:none;
  transition:all 0.2s linear 0s;
  font-size:1.4em;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:after {
  content:"?";
  font-family:FontAwesome;
  margin-top:-10px;
  position:absolute;
  right:15px;
  top:50%;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active a { background:none repeat scroll 0 0 #f2f2f2; }
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section +.wpb_accordion_section { margin-top:5px; }
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_content .wpb_content_element {
  border:1px dashed #ccc;
  padding:15px;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_content .wpb_content_element h4 {
  font-size:18px;
  color:#666;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_content .wpb_content_element p {
  font-size:14px;
  color:#666;
}
.widget_search .searchform #s {
  border-radius:4px;
  padding:8px 9px;
  border:1px solid #ccc;
  box-shadow:0 1px 1px rgba(0,0,0,0.075) inset;
  color:#848688;
  display:block;
  font-size:14px;
  margin:0;
  max-width:100%;
  width:100%;
  outline:medium none;
}
.widget_search .searchform input[type="submit"] {
  padding-bottom:3px;
  padding-top:3px;
  background:#69bd43;
  height:37px;
  display:inline-block;
  font-size:14px;
  font-weight:500;
  outline:medium none;
  opacity:1;
  text-indent:0;
  width:auto;
  border:hidden;
  border-radius:0 4px 4px 0;
  vertical-align:middle;
}
.widget_search .searchform input[type="submit"]:hover, .widget_search .searchform input[type="submit"]:focus { background:#549835; }
body .plan {
  background:none repeat scroll 0 0 #fff;
  border:1px solid #bfbfbf;
  border-radius:5px;
  list-style:none outside none;
  margin:0 0 5px;
  padding:0 0 5px;
  text-align:center;
  transition:all 0.9s ease 0s;
}
body .plan ul {
  margin:0;
  padding:0;
}
body .plan li {
  border-top:1px solid #d9d9d9;
  padding:10px 15px;
  transition:all 300ms ease 0s;
  list-style:none;
}
body .plan li.plan-name {
  border-radius:5px 5px 0 0;
  border-top:0 none;
  color:#fff;
  background-color:#808080;
  font-size:24px;
  line-height:24px;
  padding:15px;
}
body .plan li.plan-price {
  background:none repeat scroll 0 0 #eee;
  border-top:0 none;
  font-size:30px;
  padding:25px 0;
}
body .plan li a {
  border-radius:4px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
body .plan:hover {
  transform:scale(1.04);
  transition:all 0.9s ease 0s;
  z-index:99;
}
.section-delivery {
  background:none repeat scroll 0 0 #f2f2f2;
  border-bottom:1px solid #ebebeb;
  padding:35px 0;
}
.team-item-info h3 { font-size:24px; }
body #error-page {
  background:url(images/404-error.png) no-repeat 100% 0;
  min-height:400px;
  max-width:650px;
  padding:19px 29px 29px;
  margin:100px auto 20px;
}
body #error-page >div {
  float:right;
  margin-right:320px;
  text-align:right;
}
body #error-page h1.error-code {
  font-family:Impact;
  font-size:180px;
  line-height:180px;
  color:#f5acac;
  text-shadow:0 1px #944040;
}
body #error-page p.error-message {
  font-size:24px;
  line-height:24px;
  text-transform:uppercase;
  color:#999;
  text-shadow:0 1px #fff;
  margin-right:10px;
}
body #error-page a {
  text-decoration:none;
  color:#44c5ef;
}
body #error-page a:hover {
  text-decoration:none;
  color:#62d3f8;
}
.pie-graph { text-align:center; }
.pie-graph .percent_loader { border-radius:50%; }
.services-box {
  display:block;
  position:relative;
  z-index:2;
}
.services-box.services-box-animated {
  backface-visibility:hidden;
  background:none repeat scroll 0 0 transparent;
  height:auto;
  text-align:center;
  width:100%;
}
.services-box.services-box-animated .inner {
  perspective:100px;
  transform-style:preserve-3d;
  transition:all 500ms cubic-bezier(0.175,0.885,0.32,1.275) 0s !important;
}
.services-box.services-box-animated .inner h3 {
  font-size:24px;
  font-weight:200;
  margin:10px 0;
}
.services-box.services-box-animated .inner .front {
  background-clip:padding-box;
  border:1px solid #eceef0;
  border-radius:2px;
  box-sizing:border-box;
  display:block;
  height:auto;
  padding:60px 20px;
  width:100%;
  z-index:8;
  backface-visibility:hidden;
}
.services-box.services-box-animated .inner .front i {
  font-size:80px;
  text-align:center;
}
.services-box.services-box-animated .inner .front img {
  margin:20px auto;
  width:auto;
}
.services-box.services-box-animated .inner .back {
  background:none repeat scroll 0 0 padding-box #fff;
  border:1px solid #eceef0;
  border-radius:2px;
  box-sizing:border-box;
  color:#fff;
  display:block;
  height:100%;
  left:0;
  overflow:hidden;
  padding:20px;
  position:absolute;
  top:0;
  transform:rotateY(-180deg);
  width:100%;
  backface-visibility:hidden;
}
.services-box.services-box-animated .inner .back h3 { color:#fff; }
.services-box.services-box-animated .inner .back p {
  color:#fff;
  margin:10px 0;
}
.services-box.services-box-animated .inner .back:hover { border-radius:3px; }
.services-box.services-box-animated:hover .inner { transform:rotateY(-180deg); }
.services-box.services-box-animated:hover .front { z-index:-1; }
.stats {
  padding:50px 30px 50px 0;
  text-align:center;
  width:100%;
}
.stats.brddark {
  border-right:1px solid rgba(0,0,0,0.1);
  padding:50px 30px 50px 0;
  text-align:center;
  width:100%;
}
.stats .num {
  color:#232d37;
  font-size:40px;
  font-weight:800;
  margin-bottom:10px;
}
.stats .type {
  color:#c3cdd7;
  font-size:11px;
  font-weight:200;
  letter-spacing:2px;
}
.stats .type .white {
  color:#fff;
  font-size:11px;
  font-weight:200;
  letter-spacing:2px;
}
.stats.stats-alt {
  border-right:1px solid #eff4f7;
  padding:10px 0;
  text-align:center;
  width:100%;
}
.stats.stats-alt.brddark {
  border-right:1px solid rgba(0,0,0,0.1);
  padding:10px 0;
  text-align:center;
  width:100%;
}
.stats.stats-alt .num {
  color:#232d37;
  font-size:20px;
  font-weight:800;
  margin-bottom:10px;
}
.stats.stats-alt .type {
  color:#c3cdd7;
  font-size:8px;
  font-weight:200;
  letter-spacing:2px;
  line-height:12px;
}
.stats.stats-alt .type.white {
  color:#fff;
  font-size:8px;
  font-weight:200;
  letter-spacing:2px;
}
.wpb_button.wpb_wpb_button {
  background-color:#FFFFFF;
  color:#666;
}
.wpb_button.wpb_wpb_button:hover { background-color:#eee; }
.dexp-shortcodes-box .box-icon, .dexp-shortcodes-box .box-text, .dexp-shortcodes-box .box-image {
  text-align:center;
  overflow:hidden;
  transform:rotate(0deg) scale(1) skew(0deg) translate(0px);
  transition:all 0.3s ease-out 0s;
}
.dexp-shortcodes-box .box-icon .box-icon-inner, .dexp-shortcodes-box .box-text .box-icon-inner, .dexp-shortcodes-box .box-image .box-icon-inner {
  height:100%;
  overflow:hidden;
  position:relative;
  width:100%;
}
.dexp-shortcodes-box .box-icon .box-icon-inner span, .dexp-shortcodes-box .box-text .box-icon-inner span, .dexp-shortcodes-box .box-image .box-icon-inner span {
  position:absolute;
  left:50%;
  top:50%;
  transform:translateX(-50%) translateY(-75%);
  -webkit-transform:translateX(-50%) translateY(-75%);
  -moz-transform:translateX(-50%) translateY(-75%);
}
.dexp-shortcodes-box.text .box-text { text-align:center; }
.dexp-shortcodes-box.text .box-text .box-text-inner {
  height:100%;
  overflow:hidden;
  position:relative;
  width:100%;
}
.dexp-shortcodes-box.text.box-none {
  border:1px solid #e5e5e5;
  border-radius:5px;
  -webkit-border-radius:5px;
}
.dexp-shortcodes-box.text.box-none .box-text {
  font-size:34px;
  font-weight:bold;
}
.dexp-shortcodes-box.text.box-none.box-center { padding:10px; }
.dexp-shortcodes-box.text.box-none.box-left { padding:5px; }
.dexp-shortcodes-box.text.box-none.box-right { padding:5px; }
.dexp-shortcodes-box.text.box-none h3.box-title {
  font-size:20px;
  font-weight:normal;
  letter-spacing:-0.5px;
}
.dexp-shortcodes-box.text.box-none.box-center .box-content { font-size:13px; }
.dexp-shortcodes-box.text.box-center.box-square .box-text {
  font-size:34px;
  height:100px;
  line-height:101px;
  margin:0 auto;
  width:100px;
}
.dexp-shortcodes-box.text.box-center.box-square.box-background .box-text { color:#fff; }
.dexp-shortcodes-box.text.box-center.box-none h3.box-title { margin:10px 10px 0; }
.dexp-shortcodes-box.text.box-left .box-text {
  font-size:20px;
  height:40px;
  line-height:40px;
  position:relative;
  width:40px;
}
.dexp-shortcodes-box.text.box-right .box-text {
  font-size:20px;
  height:40px;
  line-height:40px;
  position:relative;
  width:40px;
}
.dexp-shortcodes-box.box-center.text.box-none .box-text .box-text-inner { padding:10px; }
.dexp-shortcodes-box.box-background .box-icon { color:#fff; }
.dexp-shortcodes-box.box-background.text .box-text { color:#fff; }
.dexp-shortcodes-box.box-left .box-icon, .dexp-shortcodes-box.box-right .box-icon {
  font-size:20px;
  height:40px;
  line-height:40px;
  position:relative;
  width:40px;
}
.dexp-shortcodes-box.box-left .box-icon span, .dexp-shortcodes-box.box-right .box-icon span {
  left:50%;
  position:absolute;
  text-align:center;
  transition:top 0.3s ease 0s;
}
.dexp-shortcodes-box.box-left.text .box-text, .dexp-shortcodes-box.box-right.text .box-text {
  font-size:20px;
  height:40px;
  line-height:40px;
  position:relative;
  width:40px;
}
.dexp-shortcodes-box.box-left h3.box-title, .dexp-shortcodes-box.box-right h3.box-title {
  font-size:18px;
  font-weight:400;
}
.dexp-shortcodes-box.box-left .box-content, .dexp-shortcodes-box.box-right .box-content { font-size:13px; }
.dexp-shortcodes-box.box-left.box-none .box-icon, .dexp-shortcodes-box.box-right.box-none .box-icon { font-size:30px; }
.dexp-shortcodes-box.box-left.box-none .box-icon span, .dexp-shortcodes-box.box-right.box-none .box-icon span { top:50%; }
.dexp-shortcodes-box.box-left:hover:not(.box-none) .box-icon span, .dexp-shortcodes-box.box-right:hover:not(.box-none) .box-icon span { top:150%; }
.dexp-shortcodes-box.box-left.box-background:hover .box-icon, .dexp-shortcodes-box.box-right.box-background:hover .box-icon { background:none repeat scroll 0 0 #fff; }
.dexp-shortcodes-box.box-left.box-background:hover .box-icon span, .dexp-shortcodes-box.box-right.box-background:hover .box-icon span { top:150%; }
.dexp-shortcodes-box.box-left .box-icon { float:left; }
.dexp-shortcodes-box.box-left .box-text { float:left; }
.dexp-shortcodes-box.box-left .box-title { margin:10px 0 10px 70px; }
.dexp-shortcodes-box.box-left .box-content { margin-left:70px; }
.dexp-shortcodes-box.box-left .box-button {
  text-align:left;
  margin-left:70px;
}
.dexp-shortcodes-box.box-right .box-icon { float:right; }
.dexp-shortcodes-box.box-right .box-text { float:right; }
.dexp-shortcodes-box.box-right .box-title {
  margin:10px 70px 10px 0;
  text-align:right;
}
.dexp-shortcodes-box.box-right .box-content {
  margin-right:70px;
  text-align:right;
}
.dexp-shortcodes-box.box-right .box-button {
  text-align:right;
  margin-right:70px;
}
.dexp-shortcodes-box.box-circle .box-icon { border-radius:50%; }
.dexp-shortcodes-box.box-circle.text .box-text { border-radius:50%; }
.dexp-shortcodes-box.box-circle.text.box-border .box-text { border-radius:50%; }
.dexp-shortcodes-box.box-circle.text.box-border.box-square .box-text { border-radius:5%; }
.dexp-shortcodes-box.box-circle.box-border .box-icon { border-radius:50%; }
.dexp-shortcodes-box.box-circle.box-border.box-square .box-icon { border-radius:5%; }
.dexp-shortcodes-box.box-center:not(.box-none) .box-icon {
  font-size:40px;
  height:100px;
  line-height:101px;
  margin:0 auto;
  width:100px;
}
.dexp-shortcodes-box.box-center:not(.box-none).text .box-text {
  font-size:40px;
  height:100px;
  line-height:101px;
  margin:0 auto;
  width:100px;
}
.dexp-shortcodes-box.box-center:not(.box-none) h3.box-title {
  font-size:24px;
  font-weight:300;
  letter-spacing:-0.5px;
}
.dexp-shortcodes-box.box-center .box-title {
  margin:30px 30px 0;
  text-align:center;
}
.dexp-shortcodes-box.box-center .box-content {
  margin:0;
  text-align:center;
}
.dexp-shortcodes-box.box-center.box-none .box-icon {
  font-size:98px;
  height:102px;
}
.dexp-shortcodes-box.box-center.box-none h3.box-title {
  font-size:20px;
  font-weight:600;
  letter-spacing:-0.5px;
}
.dexp-shortcodes-box.box-center:hover .box-icon { transform:rotate(360deg) scale(1.1) skew(0deg) translate(0px); }
.dexp-shortcodes-box.box-center .box-button { text-align:center; }
.dexp-shortcodes-box.box-square.box-border .box-icon, .dexp-shortcodes-box.box-square.box-border .box-text {
  border:1px solid #69bd43;
  border-radius:5%;
}
.wpb_tabs.style2 .container .column_container { padding:0; }
.wpb_tabs.style2 .container .column_container + .column_container { padding-left:15px; }
.ww-portfolio .ww-portfolio-item .ww-portfolio-details {
  background:transparent;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:0;
  transition:all 300ms linear 0ms;
  transform:scale(0.2);
}
.ww-portfolio .ww-portfolio-item .ww-portfolio-details .ww-portfolio-details-inner {
  left:0;
  margin:0 auto;
  position:absolute;
  right:0;
  text-align:center;
  top:50%;
  transform:translateY(-25%);
  transition:all 300ms linear 0ms;
}
.ww-portfolio .ww-portfolio-item .ww-portfolio-details .ww-portfolio-details-inner .ww-read-more-button { transition:all 300ms linear 0ms; }
.ww-portfolio .ww-portfolio-item .ww-portfolio-details .ww-portfolio-details-inner .ww-read-more-button a.ww-read-more {
  display:block;
  height:30px;
  width:30px;
  text-align:center;
  line-height:30px;
  font-size:30px;
  border-radius:3px;
  margin:auto;
  background:#fff;
}
.ww-portfolio .ww-portfolio-item .ww-portfolio-details .ww-portfolio-details-inner .ww-read-more-button a.ww-read-more:hover { text-decoration:none; }
.ww-portfolio .ww-portfolio-item .ww-portfolio-details .ww-portfolio-details-inner .ww-title-portfolio {
  color:#fff;
  transition:all 300ms linear 0ms;
}
.ww-portfolio .ww-portfolio-item .ww-portfolio-content {
  position:relative;
  text-align:center;
}
.ww-portfolio .ww-portfolio-item .ww-portfolio-content img { width:100%; }
.ww-portfolio .ww-portfolio-item:hover .ww-portfolio-details {
  transform:scale(1);
  opacity:1;
}
#ww_portfolio_filters ul { padding:0; }
#ww_portfolio_filters ul li {
  display:inline-block;
  list-style:none outside none;
  margin-bottom:10px;
  margin-right:10px;
  padding:0;
}
#ww_portfolio_filters ul li a {
  background:#f5f5f5;
  border-color:#ececec;
  border-image:none;
  border-radius:4px;
  border-right:1px solid #ececec;
  border-style:none solid solid none;
  border-width:0 1px 1px 0;
  color:#888888;
  display:block;
  letter-spacing:0.05em;
  line-height:25px;
  padding:0 10px;
  text-decoration:none;
  outline:none;
  transition:all 300ms linear 0ms;
}
#ww_portfolio_filters ul li:hover a, #ww_portfolio_filters ul li.active a { color:#fff; }
.team .team-top {
  position:relative;
  margin-bottom:10px;
}
.team .team-top .team-item-info {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0;
  transform:scale(0.2);
  transition:all 300ms linear 0ms;
}
.team .team-top .team-item-info .social-icons-wrap {
  position:absolute;
  margin:0;
  padding:0;
  top:50%;
  width:100%;
  transform:translateY(-25%);
  text-align:center;
}
.team .team-top .team-item-info .social-icons-wrap .social-icons {
  text-align:center;
  padding:0;
}
.team .team-top .team-item-info .social-icons-wrap .social-icons li { display:inline-block; }
.team .team-top .team-item-info .social-icons-wrap .social-icons li a i {
  font-size:16px;
  height:30px;
  width:30px;
  line-height:30px;
  opacity:1;
  top:0;
}
.team .team-top .team-item-info .social-icons-wrap .social-icons li:hover a i { background:#fff; }
.team .team-top:hover .team-item-info {
  opacity:1;
  transform:scale(1);
}
.cs-carousel-tesimonial .cs-carousel-container .cs-carousel-header img {
  width:103px;
  height:103px;
  border-radius:50%;
  border:1px dotted #FFF;
}
.cs-carousel-tesimonial .cs-carousel-container .cs-carousel-body { padding-left:0; }
.cs-carousel-tesimonial .cs-carousel-container .cs-carousel-body .cs-carousel-inner > div { margin-bottom:10px; }
.cs-carousel-tesimonial .cs-carousel-container .cs-carousel-body .cs-carousel-meta { margin-bottom:10px; }
.cs-carousel-tesimonial .cs-carousel-container .the_content {
  font-size:20px;
  font-family:lato-light;
}
.cs-carousel-tesimonial .cs-carousel-container .the_content .fa-quote-left { padding-right:10px; }
.cs-carousel-tesimonial .cs-carousel-container .the_content .fa-quote-right { padding-left:10px; }
.cs-carousel-tesimonial .cs-carousel-container .the_content p { display:inline; }
.cs-carousel-tesimonial .cs-carousel-container .cs-carousel-post-title {
  font-size:20px;
  font-family:lato-light;
}
.cs-carousel-tesimonial.testimonial-avatar-center { text-align:center; }
.bx-pager .bx-pager-inner { padding:0; }
.bx-pager .bx-pager-inner .bx-pager-item { display:inline-block; }
.bx-pager .bx-pager-inner .bx-pager-item a {
  font-size:0px;
  height:10px;
  width:10px;
  border-radius:50%;
  display:block;
  background:#dddddd;
}
.bx-pager .bx-pager-inner .bx-pager-item + .bx-pager-item { margin-left:10px; }
.stripe-video-wrap { position:relative; }
.stripe-video-wrap .stripe-video-bg {
  position:absolute !important;
  top:0;
  left:0;
  overflow:hidden;
  z-index:1;
  width:100%;
  height:100%;
}
.stripe-video-wrap .stripe-video-bg video {
  position:absolute;
  left:0;
  visibility:visible;
  width:100%;
}
.stripe-video-wrap .stripe-video-bg .ww-video-bg {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:block;
  z-index:9;
}
.stripe-video-wrap .stripe-video-content {
  z-index:10;
  position:relative;
}
.secction-shop-fresh { box-sizing:border-box; }
.secction-shop-fresh .fr-first {
  border-right-color:#FFF;
  border-right-style:solid;
}
.secction-shop-fresh .fr-second {
  border-left-color:#FFF;
  border-left-style:solid;
  border-right-color:#FFF;
  border-right-style:solid;
}
.secction-shop-fresh .fr-third {
  border-left-color:#FFF;
  border-left-style:solid;
}
@media (max-width: 980px) {
  .aligncenter-sm { text-align:center; }
}
body form.wpcf7-form { background:transparent; }
body form.wpcf7-form .btn-submit-wrap {
  width:50%;
  margin:0 auto;
}
body form.wpcf7-form input, body form.wpcf7-form textarea { width:100%; }
.exp-dropcap:first-letter {
  color:#666;
  display:block;
  float:left;
  font-size:50px;
  line-height:40px;
  padding:4px 8px 0 0;
  overflow:hidden;
}
.disc li { list-style:disc; }
.decimal li { list-style:decimal; }
ul.arrow, ul.arrow-double, ul.tick, ul.cross, ul.star, ul.rss {
  list-style:none;
  padding:0;
  margin:0;
}
ul.arrow li:after, ul.arrow li:before, ul.arrow-double li:after, ul.arrow-double li:before, ul.tick li:after, ul.tick li:before, ul.cross li:after, ul.cross li:before, ul.star li:after, ul.star li:before, ul.rss li:after, ul.rss li:before {
  font-family:FontAwesome;
  font-size:11px;
  line-height:22px;
}
ul.arrow li::before, ul.arrow-double li::before, ul.tick li::before, ul.cross li::before, ul.star li::before, ul.rss li::before { margin-right:5px; }
ul.arrow li::before { content:"\f105"; }
ul.arrow-double li::before { content:"\f101"; }
ul.tick li::before { content:"\f00c"; }
ul.cross li::before { content:"\f00d"; }
ul.star li::before { content:"\f006"; }
ul.rss li::before { content:"\f09e"; }
.rtl ul.arrow li::after, .rtl ul.arrow-double li::after, .rtl ul.tick li::after, .rtl ul.cross li::after, .rtl ul.star li::after, .rtl ul.rss li::after { margin-left:5px; }
.rtl ul.arrow li::after { content:"\f104"; }
.rtl ul.arrow-double li::after { content:"\f100"; }
.rtl ul.tick li::after { content:"\f00c"; }
.rtl ul.cross li::after { content:"\f00d"; }
.rtl ul.star li::after { content:"\f006"; }
.rtl ul.rss li::after { content:"\f09e"; }
.exp-block-text.rounded { border-radius:5px; }
.exp-bubble { position:relative; }
.exp-bubble cite {
  left:15px;
  padding-left:40px;
  bottom:-30px;
  display:block;
  height:30px;
  line-height:36px;
  position:absolute;
}
.exp-bubble cite span {
  border-left-color:transparent !important;
  border-bottom-color:transparent !important;
  left:0;
  content:" ";
  display:block;
  height:0;
  position:absolute;
  top:0;
  width:0;
}
.rtl .de-bubble cite {
  padding-right:40px;
  right:15px;
}
.rtl .de-bubble cite span {
  border-right-color:transparent !important;
  right:0;
}
#main .cs-social {
  padding:0;
  display:inline-block;
}
#main .cs-social li { display:inline-block; }
#main .cs-social li a {
  display:block;
  font-size:16px;
  padding:5px 8px;
}
#main .cs-social li a:hover {
  background-color:#549835;
  color:#fff;
  transform:scale(1.1);
}
#main .cs-social li a:hover i { color:#fff; }
article.sticky {
  background-color:#f5f5f5;
  padding:20px 30px;
}
article.sticky .blog-description { padding:10px; }
article.sticky .blog-info { background-color:#FFFFFF; }
article .blog-title { padding:20px 0; }
#primary-sidebar { padding-bottom:60px; }
#primary-sidebar .wg-title, .blog-title {
  padding:20px 0;
  margin:10px 0;
}
#primary-sidebar .wg-title span, .blog-title span { padding:18px 0; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width:100%;
  height:auto;
}
body .glyphicon-chevron-left:before {
  content:"\f104";
  font-family:FontAwesome;
}
body .glyphicon-chevron-right:before {
  content:"\f105";
  font-family:FontAwesome;
}
.admin-bar .menubar-fixed-top { top:32px !important; }
.btn-menubar {
  display:none;
  opacity:0;
  position:absolute;
  right:0;
  top:0;
  transition:.3s;
  -webkit-transition:.3s;
  height:32px;
  width:41px;
  border:1px solid transparent;
  background:transparent;
  color:transparent;
  border-radius:1px;
  cursor:pointer;
}
.btn-menubar:after {
  content:"";
  width:27px;
  height:3px;
  border-radius:15px;
  background:#555;
  position:absolute;
  left:0;
  top:20px;
  box-shadow:0 8px 0 #555, 0 -8px 0 #555;
}
.menubar {
  width:100%;
  position:relative;
  transition:.5s;
  border-bottom:1px solid #ededed;
  -webkit-transition:.5s;
}
.menubar.menu-toggle-class {
  padding:20px 0;
  margin:0px;
}
.menubar.menubar.menubar-fixed-top {
  position:fixed;
  left:0;
  top:0;
  z-index:1050;
  background-color:#ffffff;
}
.menubar .content-menu-bar { position:relative; }
.menubar a {
  text-decoration:none;
  display:inline-block;
}
.menubar .container {
  width:1170px;
  max-width:100%;
  margin:0 auto;
  position:relative;
  line-height:25px;
}
.menubar .container .menubar-brand {
  margin-right:20px;
  color:#333;
  display:inline-block;
  vertical-align:top;
  z-index:99;
}
.menubar .container .menubar-brand.menubar-brand-right {
  float:right;
  padding:10px 0 10px 10px;
}
.menubar .menu-list {
  text-align:right;
  display:inline-block;
  vertical-align:text-top;
  width:100%;
}
.menubar .menu-list-right > li + li { margin-left:5px; }
.menubar ul {
  margin:0;
  padding:0;
  font-size:0;
}
.menubar ul li {
  display:inline-block;
  position:relative;
}
.menubar ul li.menu-item-has-children > a, .menubar ul li.page_item_has_children > a {
  padding-right:25px;
  position:relative;
}
.menubar ul li.menu-item-has-children > a:after, .menubar ul li.page_item_has_children > a:after {
  content:"";
  position:absolute;
  right:10px;
  top:calc(53%);
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  border:4px solid transparent;
  border-top:4px solid #999999;
}
.menubar ul li.menu-item-has-children ul, .menubar ul li.page_item_has_children ul {
  display:none;
  position:absolute;
  left:0;
  min-width:175px;
  top:100%;
  box-shadow:0 3px 8px rgba(0,0,0,0.125);
  background:#FFF;
}
.menubar ul li.menu-item-has-children ul li, .menubar ul li.page_item_has_children ul li {
  border-bottom:1px inset #eff4f7;
  display:block;
}
.menubar ul li.menu-item-has-children > ul.child, .menubar ul li.page_item_has_children > ul.child {
  left:100%;
  top:-2px;
}
.menubar ul li.menu-item-has-children:hover > ul, .menubar ul li.page_item_has_children:hover > ul {
  display:block;
  z-index:9;
}
.menubar ul li.menu-item-has-children:hover > ul.child, .menubar ul li.page_item_has_children:hover > ul.child {
  animation:displayMenuChildChild .3s;
  -webkit-animation:displayMenuChildChild .3s;
  transform:translateX(0) translateY(0);
  z-index:9;
}
.menubar ul li.menu-item-has-children:hover > ul.child:after, .menubar ul li.page_item_has_children:hover > ul.child:after {
  content:"";
  border:none;
}
.menubar ul li.menu-item-has-children .btn-mobi-sub, .menubar ul li.page_item_has_children .btn-mobi-sub {
  display:none;
  position:absolute;
  right:10px;
  top:4px;
  width:30px;
  height:27px;
  border:1px solid #333;
  background:#333;
  cursor:pointer;
  border-radius:5px;
  z-index:99999 !important;
}
.menubar ul li.menu-item-has-children .btn-mobi-sub:after, .menubar ul li.page_item_has_children .btn-mobi-sub:after {
  content:"";
  width:7px;
  height:7px;
  position:absolute;
  left:50%;
  top:calc(48%);
  border-left:solid 1px #FFF;
  border-bottom:solid 1px #FFF;
  transform:translate3d(-75%,-50%,0) rotate(-135deg);
  -webkit-transform:translate3d(-75%,-50%,0) rotate(-135deg);
  transition:.3s;
  -webkit-transition:.3s;
}
.menubar ul li.menu-item-has-children .btn-mobi-sub.active:after, .menubar ul li.page_item_has_children .btn-mobi-sub.active:after {
  top:calc(52%);
  transform:translate3d(-50%,-75%,0px) rotate(-45deg);
  -webkit-transform:translate3d(-50%,-75%,0px) rotate(-45deg);
}
.menubar ul li.menu-item-has-children .btn-mobi-sub.active:hover:after, .menubar ul li.page_item_has_children .btn-mobi-sub.active:hover:after { top:calc(50%); }
.menubar ul li ul li a {
  padding:5px 15px;
  font-size:12px;
  color:#afb4b9;
  background-color:#fff;
  text-align:left;
}
.menubar ul li ul li:hover > a {
  color:#999;
  background-color:#f5f7f9;
}
.menubar ul li ul li.current-menu-item > a, .menubar ul li ul li.current_page_item > a {
  background:#f5f7f9;
  color:#afb4b9;
  border-radius:0;
}
.menubar ul li a {
  padding:5px 15px;
  font-size:13px;
  display:block;
  text-decoration:none;
  color:#999999;
  white-space:nowrap;
  transition:.7s;
  -webkit-transition:.7s;
}
.menubar ul li a:hover { color:#ffffff; }
.menubar ul li:hover > a {
  color:#ffffff;
  background-color:#69bd43;
  border-radius:4px;
}
.menubar ul li:hover > a:after { border-top-color:#ffffff; }
.menubar ul li.current-menu-item > a, .menubar ul li.current_page_item > a {
  background-color:#69bd43;
  color:#ffffff;
  border-radius:4px;
}
.menubar ul li.current-menu-item > a:after, .menubar ul li.current_page_item > a:after { border-top-color:#ffffff; }
.menubar > ul {
  display:inline-block;
  vertical-align:top;
  z-index:99;
}
.menubar > ul.menu-list-right { float:right; }
@keyframes displayMenuChild {
  from {
    transform:translateX(-50%) translateY(10px);
    opacity:0;
  }
  to {
    transform:translateX(-50%) translateY(0);
    opacity:1;
  }
}
@-webkit-keyframes displayMenuChild {
  from {
    -webkit-transform:translateX(-50%) translateY(10px);
    opacity:0;
  }
  to {
    -webkit-transform:translateX(-50%) translateY(0);
    opacity:1;
  }
}
@keyframes displayMenuChildChild {
  from {
    transform:translateX(10px) translateY(0);
    opacity:0;
  }
  to {
    transform:translateX(0) translateY(0);
    opacity:1;
  }
}
@-webkit-keyframes displayMenuChildChild {
  from {
    -webkit-transform:translateX(10px) translateY(0);
    opacity:0;
  }
  to {
    -webkit-transform:translateX(0) translateY(0);
    opacity:1;
  }
}
@media (max-width: 1175px) {
  .menubar > .menubar-inner > .container { width:920px; }
}
@media (max-width: 945px) {
  .menubar > .menubar-inner > .container { width:724px; }
}
@media (max-width: 980px) {
  .content-menu-bar { display:none !important; }
  .btn-menubar {
    display:block;
    opacity:1;
  }
  .admin-bar .menubar-fixed-top { top:0 !important; }
  .menubar {
    position:relative !important;
    animation:none !important;
  }
  .menubar.menu-toggle-class { padding:0 !important; }
  .menubar .menu-list > .menu-list-right > li + li { margin-left:0px; }
  .menubar .menubar-inner { padding-bottom:0; }
  .menubar .container { width:auto; }
  .menubar .container .menubar-brand.menubar-brand-right {
    float:none;
    padding:0 10px 0 0;
  }
  .menubar .container .menu-list { display:none; }
  .menubar .container .menu-list.menu-list-mobi {
    padding:10px;
    top:100%;
    background:#111;
    box-shadow:-200px 0 0 0 #111, 200px 0 0 0 #111;
    z-index:99999 !important;
    width:100%;
  }
  .menubar .container .menu-list.menu-list-mobi ul {
    padding-top:0 !important;
    padding-bottom:0 !important;
    box-shadow:none;
    width:100%;
    background:#111;
    float:none !important;
    position:static !important;
    transform:translate3d(0,0,0) !important;
    border:none !important;
  }
  .menubar .container .menu-list.menu-list-mobi ul li {
    border-bottom:none !important;
    padding-left:10px !important;
    width:100%;
    background:#111;
  }
  .menubar .container .menu-list.menu-list-mobi ul li:hover ul {
    display:none !important;
    animation:none !important;
    -webkit-animation:none !important;
  }
  .menubar .container .menu-list.menu-list-mobi ul li.active-sub:hover > ul { display:block !important; }
  .menubar .container .menu-list.menu-list-mobi ul li.active-sub:hover > ul > a { color:#999; }
  .menubar .container .menu-list.menu-list-mobi ul li.active-sub ul.active { display:block !important; }
  .menubar .container .menu-list.menu-list-mobi ul li.active-sub ul.active > a { color:#999; }
  .menubar .container .menu-list.menu-list-mobi ul li.menu-item-has-children .btn-mobi-sub, .menubar .container .menu-list.menu-list-mobi ul li.page_item_has_children .btn-mobi-sub { display:block; }
  .menubar .container .menu-list.menu-list-mobi ul li a { text-align:left !important; }
  .menubar .container .menu-list.menu-list-mobi ul:after { border:none !important; }
  .menubar .container .menu-list.menu-list-mobi ul.active { display:block !important; }
  .menubar .container .menu-list.menu-list-mobi ul.active:hover { display:block !important; }
  .menubar .container .menu-list.menu-list-mobi > ul > li {
    width:100% !important;
    padding-left:0 !important;
  }
  .menubar .container .menu-list.active { display:block !important; }
  .menubar .container .menu-list ul li > a {
    background:none;
    border-radius:0;
    color:#999999;
  }
  .menubar .container .menu-list ul li:hover a, .menubar .container .menu-list ul li.current-menu-item, .menubar .container .menu-list ul li.current_page_item {
    color:#ffffff;
    background:none;
    border-radius:0;
  }
  .menubar .container .menu-list ul li ul li > a {
    background:none;
    border-radius:0;
    color:#afb4b9;
  }
  .menubar .container .menu-list ul li ul li:hover a, .menubar .container .menu-list ul li ul li.current-menu-item, .menubar .container .menu-list ul li ul li.current_page_item {
    color:#999;
    background:none;
    border-radius:0;
  }
  .menubar .container .menu-list ul li ul li.current-menu-item > a, .menubar .container .menu-list ul li ul li.current_page_item > a {
    background:none;
    color:#ffffff;
    border-radius:0;
  }
}
