/*block*/
.feature-delivery {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #aaa;
    font-size: 11px;
    transition: all 0.2s linear 0s;
}
.feature-delivery .feature-delivery-image {
    overflow: hidden;
    position: relative;
}
.feature-delivery .feature-delivery-image img {
    border-radius: 5px;
    transition: all 0.2s linear 0s;
    width: 100%;
}
.feature-delivery .feature-delivery-image .mosaic-hover {
    background: none repeat scroll 0 0 rgba(105, 189, 67, 0.2);
    border-radius: 5px;
    bottom: 0;
    font-size: 1em;
    font-weight: bold;
    height: 100%;
    line-height: 1em;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}
.feature-delivery .feature-delivery-image:hover .mosaic-hover {
    background: none repeat scroll 0 0 rgba(105, 189, 67, 0.5);
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.9s ease 0s;
}
.feature-delivery .feature-delivery-image:hover .mosaic-hover:after {
    color: #fff;
    content: "";
    font-family: "FontAwesome";
    font-size: 25px;
    position: relative;
    top: 50%;
    vertical-align: middle;
}
.feature-delivery .feature-delivery-title {
    color: #fff;
    font-size: 18px;
    margin: -10px 0 0;
    padding: 13px 5px;
    position: relative;
    text-align: center;
    transition: all 0.2s linear 0s;
}
.feature-delivery .feature-delivery-title a {
    color: #fff;
}
.feature-delivery .feature-delivery-description {
    padding: 10px 5px;
    text-align: center;
}
.feature-delivery:hover {
    transform: scale(1.05);
    transition: all 0.2s linear 0s;
}
/*zooming*/
.magnify {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.large {
    border-radius: 100%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), 0 0 40px 2px rgba(0, 0, 0, 0.25) inset;
    display: none;
    height: 175px;
    position: absolute;
    width: 175px;
}
/*progress bar*/
.vc_progress_bar.wpb_content_element.style1.small .vc_single_bar {
    height: 6px;
    margin: 15px 0;
}
.vc_progress_bar.wpb_content_element.style1.medium .vc_single_bar {
    height: 12px;
    margin: 15px 0;
}
.vc_progress_bar.wpb_content_element.style1.large .vc_single_bar {
    height: 24px;
    margin: 15px 0;
}
.vc_progress_bar.wpb_content_element.style1 .vc_label {
    font-size: 100%;
}
.vc_progress_bar.wpb_content_element.style1 .vc_label .vc_label_units {
    background: none repeat scroll 0 0 #faa732;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    padding: 0 5px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-transform: none;
    vertical-align: middle;
}
/*shortcode latest new*/
.block h3.block-title {
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 0 0 25px;
}
.block h3.block-title:after {
    background-color: #999;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 12px;
    width: 50px;
}
.block.center h3.block-title:after {
    background-color: #69bd43;
    content: "";
    display: block;
    height: 1px;
    margin: -1px auto;
    position: relative;
    top: 12px;
    width: 50px;
}
.slider-blog .ns2-date-blog {
    border-radius: 5px;
    color: #fff;
    float: left;
    line-height: 10px;
    margin: 0 10px 5px 0;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
}
/*
.slider-blog .ns2-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/
.slider-blog .ns2-date-blog .ns2_date_day {
    font-size: 18px;
    font-weight: 700;
}
.slider-blog .ns2-date-blog .ns2_date_month_year {
    display: block;
    text-transform: uppercase;
}
.slider-blog .ns2-date-blog span.ns2_date_month {
    font-size: 11px;
    line-height: 11px;
}
.slider-blog .ns2-date-blog span.ns2_date_year {
    display: block;
    font-size: 10px;
    margin-bottom: -5px;
}
/*
.slider-blog h4.ns2-title {
    text-transform: uppercase;
}
*/
.slider-blog .ns2-introtext {
    margin: 5px 0;
}
.slider-blog .ns2-image {
    clear: both;
}
.slider-blog .ns2-image img {
    height: auto;
    max-width: 100%;
}
.slider-blog a.ns2-readmore span {
    border-radius: 5px;
    color: #fff;
    padding: 6px 10px;
    transition: all 0.3s ease-in-out 0s;
}
.slider-post .bx-controls {
    position: absolute;
    right: 0;
}
.slider-post .bx-controls .fa {
    background: none repeat scroll 0 0 #ccc;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    width: 30px;
}
.slider-post .bx-controls .fa:hover {
    background-color: #6c6c6c;
    color: #fff;
}
.slider-post .bx-controls .bx-prev, .slider-post .bx-controls .bx-next {
    margin: 2px;
}
.slider-post .bx-controls .bx-prev {
    position: relative;
}
.slider-post .bx-controls .bx-next {
    margin-right: 0;
    position: relative;
}
/*portfolio filter*/
a:focus ,a:hover, a:active{
    outline: medium none !important;
}
.categories_filter,
.controls-filter {
    list-style: none outside none;
    margin: 0 0 15px;
    padding: 0;
}
.categories_filter li,
.controls-filter li {
    display: inline-block;
    text-transform: uppercase;
}
.categories_filter li a,
.controls-filter li a {
    border: 1px solid #ddd !important;
    border-radius: 5px;
    color: #ccc;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 5px 10px;
}
.categories_filter li.active a, .categories_filter li a:hover ,
.controls-filter li.active a, .controls-filter li a:hover {
    border: 1px solid #69bd43;
    color: #69bd43;
}
/*shortcode blog*/
.de-blog {
    margin-bottom: 10px;
    padding-bottom: 40px;
}
.de-blog h2.blog-title {
    margin: 10px 0;
}
.de-blog .blog-info {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    color: #bfbfbf;
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
}
.de-blog .blog-info a {
    color: #bfbfbf;
}
.de-blog .blog-info a:hover {
    color: #69bd43;
}
.de-blog .blog-info .created, .de-blog .blog-info .publish-date, .de-blog .blog-info .category-name {
    margin: 0 5px;
}
.de-blog .cs-blog-media,
.de-blog .blog-image {
    margin-bottom: 15px;
}
.de-blog .blog-description {
    margin-bottom: 10px;
}
.de-blog .blog-description ul, .de-blog .blog-description ol {
    list-style-type: circle;
}
.readmore {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding: 10px;
    text-shadow: none;
    white-space: nowrap;
    display: inline-block;
}
.readmore:hover, .readmore:focus {
    background: none repeat scroll 0 0 #eee;
}
.pagination a, .pagination span  {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    color: #999;
    margin-right: 5px;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}
.pagination a:hover, .pagination span:hover, .pagination a:focus, .pagination span:focus {
    background-color: #eee;
    border-color: #ddd;
}
.team .social-icons .list-inline {
    margin: 0;
    padding: 0;
}
.team .social-icons .list-inline li {
    padding: 0;
}
.team .social-icons .list-inline a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.team .social-icons .list-inline a i {
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.team .social-icons .list-inline a:hover, .team .social-icons .list-inline a:focus {
    background-color: #fafafa;
    border-color: #d3d3d3;
    color: #3f7228;
    outline: medium none;
    text-decoration: none;
}
.team .social-icons .list-inline a:hover i, .team .social-icons .list-inline a:focus i {
    color: #3f7228;
}
.team .team-name h3 {
    margin: 0 0 5px;
}
.team .team-name span {
    font-size: 10px;
}
.team .team-about {
    text-align: justify;
}
/*social icon*/
.social-icons ul {
    padding: 0;
}
.social-icons li {
    display: inline;
    margin-right: 4px;
}
.social-icons li a {
    display: inline-block;
    height: 40px;
    overflow: hidden;
    position: relative;
    text-align: left !important;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
}
.social-icons li a i {
    left: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
    z-index: 20;
}
.social-icons .twitter:before, .social-icons .wordpress:before, .social-icons .facebook:before, .social-icons .linkedin:before, .social-icons .renren:before, .social-icons .tumblr:before, .social-icons .github:before, .social-icons .maxcdn:before, .social-icons .instagram:before, .social-icons .xing:before, .social-icons .html5:before, .social-icons .dropbox:before, .social-icons .css3:before, .social-icons .gplus:before, .social-icons .yahoo:before, .social-icons .pinterest:before, .social-icons .dribbble:before, .social-icons .flickr:before, .social-icons .reddit:before, .social-icons .vimeo:before, .social-icons .rss:before, .social-icons .youtube:before, .social-icons .linux:before, .social-icons .appstore:before, .social-icons .heart:before, .social-icons .envelope:before, .social-icons .fivehundredpx:before, .social-icons .btc:before, .social-icons .stumbleupon:before, .social-icons .dribbble:before, .social-icons .stack-exchange:before, .social-icons .android:before, .social-icons .instagram:before {
    color: #a0a5aa;
    font-family: FontAwesome;
    font-size: 18px;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
    z-index: 20;
}
.social-icons li a:hover, .social-icons li a i {
    color: #fff;
}
.social-icons li a i {
    opacity: 0;
    top: -30px;
}
.social-icons li a:hover i {
    opacity: 1;
    top: 0;
}
.social-icons .facebook i, .social-icons .facebook:before {
    display: block;
    text-align: center;
    width: 100%;
}
.social-icons .facebook:before {
    content: "\f09a";
    opacity: 1;
    top: 0;
}
.social-icons .facebook:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .facebook:hover {
    background-color: #4a6d9d;
}
.social-icons .twitter:before {
    font-size: 18px;
}
.social-icons .twitter i, .social-icons .twitter:before {
    display: block;
    text-align: center;
    width: 100%;
}
.social-icons .twitter:before {
    content: "\f099";
    opacity: 1;
    top: 0;
}
.social-icons .twitter:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .twitter:hover {
    background-color: #3bc1ed;
}
.social-icons .gplus i, .social-icons .gplus:before {
    display: block;
    text-align: center;
    width: 100%;
}
.social-icons .gplus:before {
    content: "\f0d5";
    opacity: 1;
    top: 0;
}
.social-icons .linkedin i, .social-icons .linkedin:before {
    display: block;
    text-align: center;
    width: 100%;
}
.social-icons .linkedin:before {
    content: "\f0e1";
    opacity: 1;
    top: 0;
}
.social-icons .linkedin:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .linkedin:hover {
    background-color: #0b7bb5;
}
.social-icons .gplus:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .gplus:hover {
    background-color: #d53824;
}
.social-icons .maxcdn:before {
    content: "\f136";
    opacity: 1;
    top: 0;
}
.social-icons .maxcdn:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .maxcdn:hover {
    background-color: #3274d1;
}
.social-icons .pinterest:before {
    content: "\f0d2";
    opacity: 1;
    top: 0;
}
.social-icons .pinterest:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .pinterest:hover {
    background-color: #cb1f25;
}
.social-icons .btc:before {
    content: "\f15a";
    opacity: 1;
    top: 0;
}
.social-icons .btc:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .btc:hover {
    background-color: #40833e;
}
.social-icons .heart:before {
    content: "\f004";
    opacity: 1;
    top: 0;
}
.social-icons .heart:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .heart:hover {
    background-color: #205685;
}
.social-icons .stack-exchange:before {
    content: "\f18d";
    opacity: 1;
    top: 0;
}
.social-icons .stack-exchange:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .stack-exchange:hover {
    background-color: #6ca405;
}
.social-icons .appstore:before {
    content: "\f179";
    opacity: 1;
    top: 0;
}
.social-icons .appstore:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .appstore:hover {
    background-color: #c0c0c0;
}
.social-icons .linux i, .social-icons .linux:before {
    font-size: 14px !important;
}
.social-icons .linux:before {
    content: "\f17c";
    opacity: 1;
    top: 0;
}
.social-icons .linux:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .linux:hover {
    background-color: #ff6501;
}
.social-icons .dribbble:before {
    content: "\f17d";
    opacity: 1;
    top: 0;
}
.social-icons .dribbble:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .dribbble:hover {
    background-color: #ef5a92;
}
.social-icons .envelope:before {
    content: "\f003";
    opacity: 1;
    top: 0;
}
.social-icons .envelope:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .envelope:hover {
    background-color: #6bb130;
}
.social-icons .flickr:before {
    content: "\f16e";
    opacity: 1;
    top: 0;
}
.social-icons .flickr:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .flickr:hover {
    background-color: #136dd5;
}
.social-icons .rss i, .social-icons .rss:before {
    font-size: 14px !important;
}
.social-icons .rss:before {
    content: "\f09e";
    opacity: 1;
    top: 0;
}
.social-icons .rss:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .rss:hover {
    background-color: #fe8f00;
}
.social-icons .youtube i, .social-icons .youtube:before {
    font-size: 18px !important;
}
.social-icons .youtube:before {
    content: "\f167";
    opacity: 1;
    top: 0;
}
.social-icons .youtube:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .youtube:hover {
    background-color: #bf2f29;
}
.social-icons .vimeo i, .social-icons .vimeo:before {
    font-size: 14px !important;
}
.social-icons .vimeo:before {
    content: "\f194";
    opacity: 1;
    top: 0;
}
.social-icons .vimeo:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .vimeo:hover {
    background-color: #4c8ab0;
}
.social-icons .xing:before {
    content: "\f168";
    opacity: 1;
    top: 0;
}
.social-icons .xing:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .xing:hover {
    background-color: #036568;
}
.social-icons .android:before {
    content: "\f17b";
    opacity: 1;
    top: 0;
}
.social-icons .android:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .android:hover {
    background-color: #9251a2;
}
.social-icons .html5:before {
    content: "\f13b";
    opacity: 1;
    top: 0;
}
.social-icons .html5:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .html5:hover {
    background-color: #2f3842;
}
.social-icons .renren:before {
    content: "\f18b";
    opacity: 1;
    top: 0;
}
.social-icons .renren:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .renren:hover {
    background-color: #383838;
}
.social-icons .dropbox:before {
    content: "\f16b";
    opacity: 1;
    top: 0;
}
.social-icons .dropbox:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .dropbox:hover {
    background-color: #2c92dd;
}
.social-icons .github:before {
    content: "\f09b";
    opacity: 1;
    top: 0;
}
.social-icons .github:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .github:hover {
    background-color: #5c7381;
}
.social-icons .css3:before {
    content: "\f13c";
    opacity: 1;
    top: 0;
}
.social-icons .css3:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .css3:hover {
    background-color: #d21309;
}
.social-icons .tumblr:before {
    content: "\f173";
    opacity: 1;
    top: 0;
}
.social-icons .tumblr:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .tumblr:hover {
    background-color: #3d658d;
}
.social-icons .instagram:before {
    content: "\f16d";
    opacity: 1;
    top: 0;
}
.social-icons .instagram:hover:before {
    opacity: 0;
    top: 30px;
}
.social-icons .instagram:hover {
    background-color: #3f6f94;
}
/*shortcode block*/
.block {
    margin-top: 20px;
}
.box-white {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 25px;
}
.box-white h3.block-title {
    padding: 0 0 5px !important;
}
.box-white h3.block-title:after {
    display: none !important;
}
/*shortcode box featured*/
/*block number*/
.de-blocknumber {
    min-height: 45px;
    padding: 5px 0 5px 60px;
    position: relative;
}
.de-blocknumber span {
    display: block;
    font-weight: bold;
    height: 48px;
    left: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
}
.de-blocknumber span.rounded {
    border-radius: 5px;
}
.de-blocknumber span.circle {
    border-radius: 100%;
}
/*form contact*/
.form-item, .form-actions {
    margin-bottom: 1em;
    margin-top: 1em;
}
tr.odd .form-item, tr.even .form-item {
    margin-bottom: 0;
    margin-top: 0;
    white-space: nowrap;
}
.form-item .description {
    font-size: 0.85em;
}
label {
    display: block;
    font-weight: bold;
}
label.option {
    display: inline;
    font-weight: normal;
}
.form-checkboxes .form-item, .form-radios .form-item {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}
.form-type-radio .description, .form-type-checkbox .description {
    margin-left: 2.4em;
}
input.form-checkbox, input.form-radio {
    vertical-align: middle;
}
.marker, .form-required {
    color: #f00;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 2px solid red;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #848688;
    display: block;
    font-size: 14px;
    margin: 0;
    max-width: 100%;
    outline: medium none;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus, input[type="email"]:hover, input[type="email"]:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    border: 1px solid #008dff;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
    padding: 8px 9px;
}
.button, input[type="button"], input[type="submit"] {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    outline: medium none;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out 0s;
    width: auto;
}
.form-type-checkbox input {
    margin: 0 5px 0 0;
}
.wpb_tabs .ui-tabs-panel {
    padding: 20px 0;
    padding: 20px 0 !important;
    background: #fff !important
}

.wpb_tabs a.ui-tabs-anchor {
    background: #fff;
    border-bottom: 1px solid #fff !important;
}

.wpb_tabs.style1 li:hover {
    background: none !important;
}

.wpb_tabs li.ui-tabs-active a.ui-tabs-anchor {
    border-bottom: 1px solid #fff !important;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #555 !important;
}

.wpb_tabs ul.wpb_tabs_nav {
    margin-bottom: -1px;
}

.wpb_tabs ul.wpb_tabs_nav li,
.wpb_tabs ul.wpb_tabs_nav li a {
    background: transparent;
}

.wpb_tabs ul.wpb_tabs_nav li.ui-tabs-active {
    background: #fff;
}

.wpb_tabs.style2 .wpb_tabs_nav li + li {
    margin-left: 10px;
}

.wpb_tabs.style2 .ui-tabs-panel,
.wpb_tabs.style3 .ui-tabs-panel {
    background: transparent !important;
    border: none;
}

.wpb_tabs.style2 ul.wpb_tabs_nav li a,
.wpb_tabs.style3 ul.wpb_tabs_nav li a {
    border: none !important;
    padding: 5px 23px;
}

.wpb_tabs.style2 ul li,
.wpb_tabs.style3 ul li {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.wpb_tabs.style2 li.ui-tabs-active a.ui-tabs-anchor,
.wpb_tabs.style3 li.ui-tabs-active a.ui-tabs-anchor,
.wpb_tabs.style2 li:hover a.ui-tabs-anchor,
.wpb_tabs.style3 li:hover a.ui-tabs-anchor {
    color: #fff !important;
}

.wpb_tabs.style3 ul.wpb_tabs_nav li {
    float: none;
}

.wpb_tabs.style3 ul.wpb_tabs_nav {
    float: left;
    padding: 0 0 30px !important;
    min-width: 130px;
    margin-right: 30px;
}

.wpb_tabs.style3 .ui-tabs-panel {
    padding: 0 0 0 160px !important;
}

.rtl .wpb_tabs.style3 .ui-tabs-panel {
    padding: 0 160px 0 0 !important;
}

.wpb_tabs.style3 ul li {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin: 0 0 6px;

}
.box-default.box-feature-figure .figure{
    background: none;
    padding: 0px;
    border: none;
	border-radius: 5px;
    overflow: hidden;
}
